In [1]:
# Capitalizes the first letter
str.capitalize('australia')

'Australia'

In [2]:
# Converts string to lowercase
str.lower('Germany')

'germany'

In [8]:
# Converts string to uppercase
str.upper('united kingdom')

'UNITED KINGDOM'

In [ ]:
# Returns the index of 'ten' in 'Liechtenstein'
str.find('Liechtenstein', 'ten')

In [ ]:
# Capitalizes the first letter of each word in the string
'united states'.title()

In [ ]:
# Removes 'land' from 'Poland'
'Poland'.rstrip('land')

In [ ]:
# Removes the leading element 'Papau ' from the string
'Papua New Guinea'.lstrip('Papua ')

In [9]:
# Replaces 'Japan' with 'Italy'
str = 'Japan is great!'
str.replace('Japan', 'Italy')

'Italy is great!'

In [ ]:
# Splits the string by commas into a list.
str = 'Thailand,Vietnam,Philippines'
str.split(',')

In [10]:
# Removes the suffix
str = 'Greece'
str.removesuffix('ce')

'Gree'

In [11]:
# Ints and floats
num_1 = 5                
num_2 = 3                
num_3 = 10.1             
num_4 = 20.75            
num_5 = 12               

# Sum of num_1, num_2, num_3
sum_var = num_1 + num_2 + num_3  
print("Sum:", sum_var)           

# Difference between num_4 and num_5
diff_var = num_4 - num_5          
print("Difference:", diff_var)

Sum: 18.1
Difference: 8.75

In [12]:
# Import math module
import math

# Ints and floats
num_6 = 4       
num_7 = 3.2     
num_8 = 10.4    
num_9 = 7       
num_10 = 0.25   

# Product of num_6, num_7, num_8, num_9, num_10
product_var = num_6 * num_7 * num_8 * num_9 * num_10  
print("Product Result:", product_var)  

# num_6 raised to the power of num_9
power_var = num_6 ** num_9  
print("Power Result:", power_var)  

# Square root of num_8
sqrt_var = math.sqrt(num_8)  
print("Square Root Result:", sqrt_var)

Product Result: 232.96
Power Result: 16384
Square Root Result: 3.22490309931942